body {

	width: 1200px;
	padding: 20px 50px 50px 50px;
	font-family: "Helvetica Neue", sans-serif;
}

textarea {
  font-family: monospace;
  padding:5px;
}

input {
  font-size: 200%;
}

.tabs {
	position: relative;
	min-height: 600px;
	clear: both;
	margin: 25px 0;
}


.tab {
	float: left;
}
.tab label {
	background: #eee;
	padding: 10px;
	border: 1px solid #ccc;
	margin-left: -1px;
	position: relative;
	left: 1px;
}
.tab [type=radio] {
	display: none;
}

.content {
	position: absolute;
	top: 28px;
	left: 0;
	background: url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALklEQVQIW2P8DwQMSODOnTsMjMiCIAEVFRWEIEwApAmsElkALHj79u3/IC3IAABt3x+GdGufqQAAAABJRU5ErkJggg==
	);
	right: 0;
	bottom: 0;
	padding: 20px 50px 50px 50px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 3px 3px 5px darkgrey;
	   -moz-box-shadow: 3px 3px 5px darkgrey;
	        box-shadow: 3px 3px 5px darkgrey;

}
[type=radio]:checked ~ label {
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALklEQVQIW2P8DwQMSODOnTsMjMiCIAEVFRWEIEwApAmsElkALHj79u3/IC3IAABt3x+GdGufqQAAAABJRU5ErkJggg==
	);
	border-bottom: 1px solid white;
	z-index: 2;
	-webkit-box-shadow: 5px 0px 5px -3px darkgrey;
	   -moz-box-shadow: 5px 0px 5px -3px darkgrey;
	        box-shadow: 5px 0px 5px -3px darkgrey;
}
[type=radio]:checked ~ label ~ .content {
	z-index: 1;
}


.box {
	width: 600px;
	height: 400px;
	padding: 10px;
	background: white;
	/*overflow: scroll;*/
	-webkit-box-shadow: inset 0 0 10px black;
	   -moz-box-shadow: inset 0 0 10px black;
	        box-shadow: inset 0 0 10px black;
}

.passepartouttext {
	width: 600px;
	height: 400px;
	overflow: scroll;
}

.passepartoutimg {
	width: 600px;
	height: 400px;
	text-align: center;
	overflow: scroll;
}

.passepartoutcode {
	width: 600px;
	height: 400px;
  padding: 5px;
	overflow: scroll;
  background: #272822;
  color: white;
}
